node_modules/
.env

# service accounts
firestore.json
test-firestore.json
cloudStorage.json
test-cloudStorage.json
cloudRunInvoker.json
test-cloudRunInvoker.json

# ignore
.ignore/
test-build.sh
tests/image.jpg